.breadcrumb-container {
    padding-top: 30px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;

    .breadcrumb-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        min-height: 34px;
        line-height: 16px;
        font-size: 13px;
        list-style: none;
        padding: 0;
        margin: 0;

        .breadcrumb-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &::before {
                content: '';
                display: inline-block;
                margin: 0 8px;
                vertical-align: middle;
                background-image: url('./images/angle-right.svg');
                background-size: cover;
                width: 7px;
                height: 12px;
            }

            &:first-child::before {
                display: none;
            }

            .breadcrumb-link {
                color: #707070;
            }
        }
    }
}
@media (max-width: 767px) {
    .breadcrumb-container {
        display: none;
    }
}