@font-face {
    font-family: 'quarto';
    src: url('../../fonts/Quarto.woff2');
}
@font-face {
    font-family: 'bold-quarto';
    src: url('../../fonts/Bold-Quarto.woff2');
}
@font-face {
    font-family: 'italic-quarto';
    src: url('../../fonts/Italic-Quarto.woff2');
}

body {
    font-family: "HK Grotesk",sans-serif ;
    font-weight: 400;
}