.title_trending {
    font-family: 'quarto';
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -.025em;
    font-weight: 350;
}

@media (max-width: 768px) {
    .title_trending {
        font-weight: 300;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -.01em;
    }
}

.inner_trending {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .title_trending {
        padding: 60px 0;
    }
}

.product_trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 32px;
    padding-top: 20px;
}

@media(max-width:500px) {
    .product_trending {
        padding-bottom: 66px;
    }
}

@media (min-width: 768px) {
    .product_trending {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }
}

.product_trending ul.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
}

.products li {
    list-style: none;
}

@media (max-width:500px) {
    .products li {
        margin: 0px 10px;
    }
}

@media (min-width: 768px) {
    .merchandising {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: auto;
        max-width: 214px;
        text-align: center;
        margin: 0 10px;
    }
}

@media (max-width: 767px) {
    .merchandising {
        white-space: nowrap;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: 220px;
        height: 220px;
        -o-object-fit: cover;
        object-fit: cover;

    }
}

@media (min-width: 1024px) {
    .products_li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }
}

.merchandising_a {
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@media (min-width: 768px) {
    .image_product {
        white-space: nowrap;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: 100%;
        max-width: 214px;
        max-height: 214px;

    }
}

.image_product img {
    max-width: 100%;
}

.products_name {

    font-family: "HK Grotesk", sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 23px;
    margin: 0;
    letter-spacing: 1.5px;
    color: #2b2b2b;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.product_trending ul.products {
    margin-bottom: 0px !important;
}