.product-detail-infos {
    position: relative;
    padding-bottom: 60px;

    p {
        margin: 0;
        padding: 0;
    }

    .product-detail-price,
    .product-detail-moreInfo {
        font-size: 18px;
        line-height: 26px;
        color: #2b2b2b;

    }

    .product-detail-buyerFees {
        margin-bottom: 6px;
        font-size: 15px;
        line-height: 20px;
        color: #707070;
        font-weight: 400;
    }

    .product-detail-moreInfo {
        button {
            background: none;
            border: none;
            display: inline-block;
            color: #707070;
            font-size: 15px;
            margin-left: 7px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .product-detail-verified,
    .product-detail-discount {
        color: #de8962;
    }

    .product-detail-verified {
        button {
            margin-top: 20px;
            background: none;
            border: none;
            display: inline-block;
            font-size: 15px;
            padding: 0;

            svg {
                display: inline-block;
                margin-right: 10px;
                height: 38px;
                width: 41px;
                color: #cc815e;
            }

            p {
                display: inline;
                color: #de8962;
            }

            span {
                color: #de8962;
                text-decoration: underline;
            }

            &:focus,
            &:visited,
            &:actived {
                outline: 0;
            }
        }
    }

    .product-detail-discount {
        margin: 20px 0 6px;
        line-height: 28px;
        align-items: center;
        position: relative;
        padding-right: 30px;

        svg {
            display: inline-block;
            width: 19px;
            height: 20px;
            margin-right: 8px;
            color: #de8962;
            margin-bottom: 4px;
        }

        p {
            display: inline;
            font-size: 18px;
            color: #de8962;
        }

        .product-detail-tooltip {
            position: absolute;
            right: 0;
            top: 2px;

            .tooltip-icon svg {
                height: 15px;
                width: 15px;
                color: #707070;
                margin: 0;
            }

            .tooltip-content {
                display: none;
                position: absolute;
                right: 35px;
                top: 50%;
                transform: translate(0, -50%);
                padding: 20px;
                width: 360px;
                background: #FFF;
                box-shadow: 0 2px 8px 4px rgba(43,43,43,.06);
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: #FFF;
                    width: 10px;
                    height: 10px;
                    right: 0;
                    top: 50%;
                    z-index: -1;
                    transform: rotate(45deg) translate(0, -50%);
                }
                p {
                    color: #707070;
                    font-size: 13px;
                    line-height: 14px;
                }
            }

            .tooltip-icon:hover~.tooltip-content {
                display: block;
            }
        }
    }

    .product-detail-actions {
        margin: 30px 0 35px;
        display: flex;

        button {
            display: inline-block;
            flex: 0 0 auto;
            flex-grow: 1;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 1.5px;
            padding: 21px 40px;
            margin-right: 14px;
            text-transform: uppercase;
            border-width: 1px;
            border-style: solid;
            transition: .3s;
        }

        .btn-add-basket {
            background: #2b2b2b;
            color: #FFF;
            border-color: #2b2b2b;

            &:hover {
                color: #FFF;
                background: #b37152;
                border-color: #b37152;
            }
        }

        .btn-make-offer {
            background: #FFF;
            border-color: #2b2b2b;
            color: #2b2b2b;

            &:hover {
                color: #FFF;
                background: #b37152;
                border-color: #b37152;
            }
        }
    }

    .product-detail-wishlist,
    .product-detail-follow {
        button {
            background: none;
            border: none;
            position: relative;
            padding-left: 31px;
            padding-bottom: 6px;
            padding-top: 6px;
            font-size: 16px;
            line-height: 20px;
            text-overflow: ellipsis;
            max-width: 100%;

            svg {
                color: #de8962;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                height: 14px;
                width: 15px;
            }

            p {
                color: #de8962;
            }

            &:active,
            &:focus {
                outline: 0;
            }
        }

        #btn-add-wishlist {
            svg {
                top: 4px;
                height: 19px;
                width: 18px;
                transform: none;
            }
        }
    }

    .product-detail-additionals {
        margin-top: 20px;
        padding: 12px 0;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        .product-detail-additional {
            font-size: 15px;
            line-height: 20px;
            padding: 6px 0;
            color: #2b2b2b;

            svg {
                display: inline-block;
                width: 15px;
                margin-top: -1px;
                margin-left: 4px;
                margin-right: 9px;
                vertical-align: middle;
            }

            p {
                display: inline-block;
            }

            button {
                display: inline-block;
                background: none;
                border: none;
                text-decoration: underline;

                &:active,
                &:focus,
                &:visited {
                    outline: 0;
                }
            }
        }
    }

    .product-detail-seller {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
        text-align: right;
        transform: translate(0, -50%);

        .product-detail-sellerLink {
            text-align: right;
            color: #2b2b2b;
            text-decoration: none;

            img,
            p {
                display: block;
                margin: 0;
            }

            img {
                display: inline-block;
                border-radius: 50%;
                margin-bottom: 14px;
                height: 68px;
                width: 68px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
@media (max-width: 1024px) {
    .product-detail-infos {
        .product-detail-actions {
            flex-flow: row wrap;
            button {
                flex: 0 0 100%;
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}
@media (max-width: 767px) {
    .product-detail-infos {
        position: relative;
        padding: 60px 0 30px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: -15px;
            right: -15px;
            bottom: 0;
            background: #fafafa;
            z-index: -1;
        }

        .product-detail-actions {
            flex-flow: row wrap;

            button {
                flex: 0 0 100%;
                width: 100%;
                margin: 10px 0;
            }
        }

        .product-detail-seller {
            .product-detail-sellerLink {
                img {
                    margin: 0;
                }

                p {
                    display: none;
                }
            }
        }

        .product-detail-verified {
            button {
                text-align: left;

                span {
                    margin-left: 55px;
                }
            }
        }

        .product-detail-discount {
            flex-flow: row nowrap;

            svg,
            p {
                display: inline-block;
            }

            svg {
                width: 45px;
                height: auto;
                margin-right: 27px;
            }
        }
    }
}