.product-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    .product-detail-title {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        padding: 20px 0;
        color: #2b2b2b;
        text-align: center;
        .product-detail-brand {
            font-family: 'quarto';
            text-transform: capitalize;
            font-size: 100px;
            text-align: center;
            color: #2b2b2b;
            font-weight: 300;
            letter-spacing: -.02em;
            text-decoration: none;
        }
        .product-detail-name {
            display: block;
            line-height: 120px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 1.5px;
            margin-top: 5px;
        }
        .product-detail-tags {
            min-height: 23px;
            margin: 13px 0 0;
            text-align: center;
            line-height: 0;
        }
    }
    .product-detail-images {
        width: 50%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        padding-right: 6.9%;
        min-height: 100%;
    }
    .product-detail-infos {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        width: 50%;
        padding-left: 9.154%;
    }
}
@media (max-width: 767px) {
    .product-detail {
        .product-detail-images, .product-detail-infos, .product-detail-title {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            width: 100%;
        }
        .product-detail-images {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            padding-right: 0;
        }
        
        .product-detail-infos {
            -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                    order: 3;
            padding-left: 0;
        }

        .product-detail-title {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
            padding-top: 20px;
            .product-detail-brand {
                font-size: 50px;
                line-height: 50px;
                text-align: center;
            }
            .product-detail-name {
                font-size: 18px;
                line-height: 21px;
                text-align: left;
                margin-top: 9px;
                .product-detail-like {
                    margin-left: 10px;
                }
            }
        }
    }
}

