.product-detail-images {
    text-align: right;
    position: relative;
    .product-slideshow {
        display: inline-block;
        width: calc(100% - 75px);
        position: static;
        .carousel-item {
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .carousel-indicators {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
            margin: 0;
            padding: 0;
            width: 50px;
            transform: translate(0, -50%);
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            li {
                margin: 5px 0;
                width: 50px;
                height: 50px;
                flex: 0 0 50px;
                border: 1px solid #ababab;
                text-align: center;
                opacity: 0.5;
                img {
                    display: block;
                    width: 100%;
                    object-fit: cover;
                }
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .product-detail-links {
        text-align: center;
        a {
            color: #de8962;
            font-size: 18px;
            line-height: 20px;
            margin: 0 10px;
            svg {
                margin-right: 10px;
                height: 16px;
                object-fit: cover;
                path {
                    fill: #fff;
                }
            }
        }
    }
}