.section {
    padding-top: 30px;
    overflow-x: hidden;
    .section-title {
        font-family: 'quarto';
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -.025em;
        margin-bottom: 60px;
        font-weight: 300;
        color: #2b2b2b;
    }
    .section-title-sm {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;
        font-weight: lighter;
        color: #2b2b2b;
    }
    @media(max-width: 767px)
    {
        .section-title-sm {
            font-weight: lighter;
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 23px;
            text-align: justify !important;
        }
    }
}
.section-detail-product {
    position: relative;
    border-bottom: 1px solid #eaeaea;
    &::before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: #fafafa;
        width: 50vw;
        height: 100%;
        z-index: -1;
    }
}
.section-more-detail {
    position: relative;
    padding-top: 30px;
}
.section-also-like {
    background: #fafafa;
    padding: 60px 0 90px;
}
@media(max-width: 767px){
    .section-also-like {
        background: #fafafa;
        padding: 0px 0 0px;
}
}
.section-same-tags {
    padding: 60px 0 60px;
}

@media (max-width: 767px) {
    .section .section-title {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -.01em;
        font-weight: 300;
    }
    .section-detail-product::before {
        display: none;
    }
}